<% provide :title, "プロフィール詳細" %>
<div class="container profile-box">
  <h3 class= "mt-4">プロフィール</h3>
  <div class="Profile-header mt-4">
    <div class="Profile-image">
      <%= render "shared/image", image_size: "75x75", user: current_user %>
      <p class="Profile-name text-center mt-1"><%= current_user.name %></p>
    </div>
  </div>
  <div class="Profile-information mt-2">
    <p class="Profile-introduction"><%= current_user.introduction %></p>
  </div>
</div>
<ul class="py-5 nav nav-pills nav-fill">
  <li class="nav-item">
    <%= link_to "一般小説のお気に入り", user_like_path, remote: true, class: "review-tab" %>
  </li>
  <li class="nav-item">
    <%= link_to "web小説のお気に入り", user_narou_like_path, remote: true, class: "review-tab"  %>
  </li>
</ul>
<div>
  <% if @books.present? %>
    <div class="like-area">
      <%= render "users/profile_like_index", books: @books %>
    </div>
  <% elsif @narous.present? %>
    <div class="like-area">
      <%= render "shared/narous_index", narous: @narous %>
    </div>
  <% end %>
</div>
