<div class="mb-4 review-form">
  <%= form_for [@book, @review], remote: true do |f| %>
    <div class="mt-2">
      <%= f.label "レビューを投稿する" %>
      <%= f.text_area :content, class: "form-control js-comment-form", id: "review-content" %>
    </div>
    <%= f.hidden_field :book_id, value: @book.id %>
    <div class="mt-2">
      <%= f.submit "投稿する", class: "form-control" %>
    </div>
  <% end %>
</div>
